<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="auth-1.css">
</head>
<body>
     <section class="section">
         <div class="container">

           <div class="home">
           
           </div>
         </div>
     </section>


     <section class="section">
        <div class="main ">
            <div class="container">
               
                <div class="row">
                    <div class="box">
                        <div class="col">
                            <div class="col_3">
                                
                                <div class="login">
                                    <image src="/authentication-task/logo.svg" alt="logo" />
                                    
                                </div>

                                <form action="/cookie" method="post">
                                    <div style="padding:10px">
                                        welcome! <%=name%>
                                    </div>
                                   
                                </form>
                                <div>
                                    <a class="btn" href="/logout">logout</a>  <br>
                                                        
                                </div>
                               
                            </div>
                            
                            
                        </div>

                        <div class="abc">
                            <ul><a href="http://localhost:8080/student/get">api.js</a></ul>
                            <ul><a href= "http://localhost:8081/a">combo box</a></ul>   
                            <ul><a href=  "http://localhost:8089/page">combo box</a></ul>  
                            <ul><a href=  "file:///home/kinjal-nagar/task/js/kuku%20cube.html">kuku cube</a></ul>    
                            <ul> <a href= "file:///home/kinjal-nagar/task/js/tic%20tac%20toe.html">tic tac toe</a></ul>
                            

                        </div>
                          
                        <div class="buttomLink">
                            dont have an account? <a href="#">click here </a>
                        </div>

                    </div>
                </div>
                <div class="buttomLogo">
                    <image src="/authentication-task/bottom-logo.png" alt="bottom"/>
                </div>
            </div>
        </div>
    </section> 
   
</body>
</html>