<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="auth.css">
</head>
<body>
   <section class="section">
        <div class="main ">
            <div class="container">
                
                <div class="row">

                    
                    <div class="box">
                        <div class="">
                            <div class="col_3">
                                
                                <div class="login">
                                    <image src="/authentication-task/logo.svg" alt="logo" />
                                    
                                </div>

                                <form action="/post-p-login" method="post">
                                    
                                        <legend>Login Details:</legend>
                                        <table>
                                            <tr>
                                                <td>
                                                    <label for="email">Email:</label>
                                                    <input type="text" id="email" name="email">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label for="password">Password:</label>
                                                    <input type="text" id="password" name="password">
                                                </td>
                                            </tr>
                                        </table>
                                    
                                    <div class="btn1">
                                        <input CLASS="btn" type="submit" value="submit">
                                    </div>
                                    
                                </form>

                                <div class="buttomLink">
                                    dont have an account? <a href="#">click here </a>
                                </div> 
                            </div>
                        </div>

                      

                    </div>

                   
                </div>
                <div class="buttomLogo">
                    <image src="/authentication-task/bottom-logo.png" alt="bottom"/>
                </div>
            </div>
        </div>
    </section> 
</body>
</html>